@font-face {
    font-family: 'Akira';
    src: url('Font/Lol/akira_expanded_demo-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Nexa';
    src: url('Font/Nexa/nexa-heavy-webfont.woff') format('woff');
}
html, body {
    margin: 0;
    cursor: none;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Nexa', sans-serif;
    height: 100%;
    color: rgb(255, 255, 255);
    animation-name: EnableScroll;
    animation-duration: 12s;
    animation-iteration-count: 1;
    background-color: rgb(22, 22, 22);
}
body:after{
    display:none;
}
::-webkit-scrollbar {
    width: 0%;
}
#Introduction {
    width: 100vw;
    display: flex;
    height: 100vh;
}

li{
    list-style: none;
}
#IntroductionText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}
#IntroductionRightSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#IntroductionRightSide p{
    filter: drop-shadow(1px 1px 10px #00000086);
}
#Introduction p {
    filter: drop-shadow(1px 1px 10px #00000086);
    font-family: 'Nexa', sans-serif;
    font-size: 2em;
}
h1 {
    filter: drop-shadow(1px 1px 10px #00000086);
    display: flex;
    font-family: 'Akira', sans-serif;
    font-size: 3.5em;
    justify-content: center;
}
.models {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modelingInfoText{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    width: 45%;
    height: 50%;
}
.modelingInfoText p{
    font-size: 2em;
}
.modelingProjects {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
    align-items: center;
}
#modelTitel{
    margin-bottom: 2em;
}
#modelingProject {
    width: 45%;
    margin: 3em;
}
.lineCut{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10em;
    margin-top: 10em;
}
#line{
    background-color: rgba(122, 122, 122, 0.459);
    height: 0.1em;
    width: 40%;
    margin-right: 2em;
    margin-left: 2em;
}
#lineImg{
    width: 2.4em;
    color: rgba(122, 122, 122, 0.459);
}
#Text3D{
    color: rgba(122, 122, 122);
    transition: ease-in-out 0.3s;
}
#Text3D:hover {
    text-shadow:0px 0px 0 rgb(111,111,111),1px 1px 0 rgb(99,99,99),2px 2px 0 rgb(88,88,88),3px 3px 0 rgb(76,76,76),4px 4px 0 rgb(65,65,65),5px 5px 0 rgb(53,53,53), 6px 6px 0 rgb(42,42,42),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
div#OuterCircleCursor {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(94, 94, 94, 0.267);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
div#Ball {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background-color: rgb(141, 141, 141);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#age{
    color: rgb(122, 122, 122);
}
#pasion{
    color: rgb(122, 122, 122);
}
#highlightedWord{
    color: rgb(122, 122, 122);
}
.hidden{
    filter: blur(5px);
    transition: all 0.4s;
    opacity: 0;
}
.show{
    filter: blur(0);
    opacity: 1;
}
.preload-images{
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(Images/Boombox.png);
    background-image: url(Images/Boombox444.png);
    background-image: url(Images/BoomboxLetItHappen.png);
    background-image: url(Images/BoomboxRunaway.png);
    background-image: url(Images/GameBoy.png);
    background-image: url(Images/GameBoyBlue.png);
    background-image: url(Images/GameBoyGreen.png);
    background-image: url(Images/GameBoyRed.png);
    background-image: url(Images/Cassete.png);
    background-image: url(Images/CasseteGreen.png);
    background-image: url(Images/CasseteRed.png);
    background-image: url(Images/CasseteYellow.png);
}
@media screen and (max-width: 1000px) ,(orientation:portrait) {
    #modelingProject {
        width: 70%;
        margin: 1.5em;
    }
}