@font-face {
    font-family: 'Akira';
    src: url('Font/Lol/akira_expanded_demo-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Nexa';
    src: url('Font/Nexa/nexa-heavy-webfont.woff') format('woff');
}
html, body {
    margin: 0;
    cursor: none;
}
body {
    height: 100%;
    color: rgb(255, 255, 255);
    background: rgb(28, 40, 172);
    background: linear-gradient(180deg, rgba(28, 40, 172, 1) 0%, rgba(39, 79, 255, 1) 35%, rgba(46, 23, 189, 1) 100%);
}
#Introduction {
    width: 100vw;
    display: flex;
    height: 100vh;
}
#IntroductionText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}
#IntroductionLogo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#IntroductionLogo img {
    filter: drop-shadow(1px 1px 10px #00000086);
    transition: ease-in 0.2s;
    max-width: 80%;
}
#IntroductionLogo img:hover {
    transform: scale(105%) rotate(5deg);
    filter: drop-shadow(1px 1px 10px #000000b0);
}
#Introduction h1 {
    filter: drop-shadow(1px 1px 10px #00000086);
    display: flex;
    font-family: 'Akira', sans-serif;
    font-size: 3.5em;
    margin: 0;
}
#Introduction p {
    filter: drop-shadow(1px 1px 10px #00000086);
    font-family: 'Nexa', sans-serif;
    font-size: 2em;
}
div#ball {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(4, 0, 37, 0.267);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#Text3D {
    transition: ease-in-out 0.3s;
    color: rgb(0, 33, 105);
}
#Text3D:hover {
    text-shadow: 0px 0px 0 rgb(-12, 21, 93), 1px 1px 0 rgb(-15, 18, 90), 2px 2px 0 rgb(-17, 16, 88), 3px 3px 0 rgb(-20, 13, 85), 4px 4px 0 rgb(-22, 11, 83), 5px 5px 4px rgba(0, 0, 0, 0.6), 5px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, .2);
}
#age{
    color: rgb(0, 33, 105);
}
#randomLetterWord{
    color: rgb(0, 33, 105);
}
