@font-face {
    font-family: 'Nexa'; /*a name to be used later*/
    src: url('Font/Jetbrains/webfonts/JetBrainsMono-ExtraBold.woff2'); /*URL to font*/
}
body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Nexa;
}
body{
    background-color: yellow;
    color:black;
}
.dark-mode{
    background-color: rgb(6, 0, 17);
    color:yellow;
    border-color: yellow;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2em;
}
.NavLinks{
    overflow: hidden;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2em;
    height: 2em;
    transition: all 0.5s; 
    background-color: yellow;
}
.NavLinks a{
    color: rgb(0, 7, 27);
    text-decoration: none;
    font-family: Nexa;
    user-select: none;
    white-space: nowrap;
    transition: all 0.3s;
}
.NavLinks a:hover{
    transform: scale(110%);
}
#BurgerIcon{ 
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    gap: 0.5em;
}
/*Navbar*/
#BurgerLine{
    transition: all 0.7s;
    width: 2em;
    height: 0.2em;
    border-radius: 1em;
    background-color: rgb(0, 7, 27);
    border: none;
}
.NavLinks:hover,
#BurgerIcon:hover + .NavLinks {
    padding-left: 1em;
    width: 30em;
}

#BurgerIcon:hover + .NavLinks {
    transform: scale(100%);
}
nav:hover #BurgerLine{
    transform: rotate(382deg);
}
nav:hover #BurgerLine:nth-child(2){
    transform: rotate(-382deg);
}
/*Intro/Home*/
.Intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
.TextContainer{
    display: inline-block;
}
#MainText{
    font-size: 3em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
#SmallText{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
/*About*/
.About{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
}
.AboutText{
    height: 50%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-left: 3em;
}
.AboutPictures{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutPicture{
    background-image: url('Images/LittleMe.png');
    background-position: center;
    background-size:cover;
    height: 25em;
    width: 25em;
    border-radius: 50%;
    border: solid;
    border-color: rgb(0, 7, 27);
    border-width: 0.5em;
}
.MyParents{
    padding-top: 5em;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    user-select: none;
}
.Parent{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ParentDescription{
    height: 90%;
    width: 80%;
    text-align: justify;
}
.AboutPicture{
    filter: drop-shadow(0px 0px 18px #000000);
    transition: all 0.5s;
}
.AboutPicture:hover{
    filter: drop-shadow(0px 0px 15px #000000);
    transform: scale(103%);
}
/*Cursor*/
.ball{
    width: 5em;
    height: 5em;
    transition: width 0.3s, height 0.3s;
    background-color: rgb(255, 255, 23);
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    mix-blend-mode: exclusion;
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
}